{% extends 'base.html' %}

{% block activePageAbout %}link-secondary{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">About EventSphere</h1>
    <p>EventSphere is your go-to vibe for event ticketing — making it super easy for organizers and peeps to connect without the stress. Our mission? Keep ticketing chill, smooth, and actually fun.</p>
    <p>For organizers, EventSphere lets you set up events in a snap, tweak ticket prices, track sales, and hype your events to the crowd. The interface is mad simple, so you can focus on the fun stuff, not the paperwork.</p>
    <p>For attendees, it's all about discovering cool events, grabbing tickets safely, and getting the 411 with updates and reminders. We want your event experience to be as hassle-free and lit as possible.</p>
    <p>We’re all about leveling up the event scene with tech that actually works. Events bring people together, spark creativity, and make memories — and EventSphere is here to make it all happen seamlessly.</p>
</div>


{% endblock %}